.footer-general {
  min-width: 415px;
  background: #eeeeee;
}

.footer {
  max-width: 1770px;
}

.footer-wrap {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.footer-wrap ul li {
  list-style: none;
}

.colum-three__social-media-icons {
  margin: 20px;
  display: flex;
}

.colum-three-wrap__img {
  display: flex;
}

.colum-firs__h2 > h2 {
  font-size: 1.6rem;
  margin-top: 20px;
  color: rgb(97, 212, 212);
}

.colum-firs__p {
  margin-top: 10px;
  font-size: 1.2rem;
}

.colum-firs__p > p {
  color: #999;
}

.colum-two__li__title {
  font-size: 1.6rem;
  margin-top: 20px;
  color: rgb(97, 212, 212);
}

.colum-two__li {
  color: #999;
  font-size: 1.2rem;
  padding: 10px 0px;
}

/* =============================== */
.colum-firs {
  grid-column-start: span 4;
  margin: 0;
  padding: 0 10px;
}
.colum-two {
  margin: 0;
  padding: 0 10px;
}
.colum-three {
  display: flex;
  flex-direction: column;
}

.colum-three-img {
  margin: 0 10px;
  width: 45px;
  height: 45px;
}

.colum-react-img {
  width: 100%;
  height: 100%;
}

.colum-three__title {
  font-size: 1.2rem;
  color: #999;
  margin-right: 30px;
}

.footer-ears__wrap {
  /* margin: 20px 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.footer-ears__wrap p {
  padding: 20px 20px 20px 0;
  font-size: 1.2rem;
  color: #999;
}

.footer-ears__wrap p:first-child {
  margin-left: 10px;
}
.footer-ears__wrap p:nth-child(2) {
  margin-right: 10px;
}

/* ============================ */

@media (max-width: 680px) {
  .footer {
    padding: 2rem 1rem;
  }

  .footer-wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .colum-firs {
    grid-column-start: 1;
  }
}

@media (max-width: 850px) {
  .footer-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .colum-firs {
    padding: 20px 10px;
    grid-column-start: span 2;
  }

  .footer-ears__wrap {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 570px) {
  .colum-two {
    grid-column-start: span 3;
  }

  .colum-three {
    grid-column-start: span 3;
    display: flex;
    margin-right: 0;
  }
}
